/* 
 Name: Rallique Snape
 ID#: 2403799
 Occurance: Friday, 12 - 1:50
 */

.form-body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    display: inline-flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
}

.form-items{
    margin-bottom: 15px;
    text-align: left;
}

.form-buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form-buttons button{
    padding: 8px 18px;
    background-color: #006f9a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.form-buttons button:hover{
    background-color: #1aeb9f;
}

.login-container h2{
    color: #1aeb9f;
}
.login-container form{
    display: flex;
    flex-direction: column;
}

.login-container label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/*Product Page CSS*/

.main-body{
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.header-container{
    display: flex;
    flex-direction: column;
}

.header-title{
    text-align: center;
    color: #ffe205f8;
    font-size: 15px;
}

.nav-links{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000000;
    background-color: #1aeb9f;
    border-width: 5px;
    margin-bottom: 10px;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1)
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #ffffff;
    color: #27f2de;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.welcome-section{
    text-align: center;
}

.product-section{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-width: 5px;
    background-color: #ffffff;
}

.product-section h2{
    text-align: center;
}

.engraving-section h2, h4{
    text-align: center;
}
.engraving-section{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-width: 5px;
    background-color: #ffffff;
}

.products-display{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    transition: transform 0.1s, box-shadow 0.3s;
}

.product-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2)
}

*{
    box-sizing: border-box;
}

.ppBtn{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ppBtn:hover{
    background-color: #077dd2;
}

.footer{
    text-align: center;
    color: #000000;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    color: #000000;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
}

/* Cart and Checkout Page CSS */

.cart-section {
    text-align: center;
    margin-top:20px;
    padding: 20px;
}

.checkout-section{
    text-align: center;
    margin-top:20px;
    padding: 20px;
}

table tbody tr:nth-child(even){
    background-color:#f2f2f2;
}

table {
    border-radius: 6px;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

th{
    background-color: #06e298;
    color:black;
    font-weight: bold;
}

th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

table button{
    padding: 5px 10px;
    border:none;
    border-radius: 4px;
    background-color: #006f9a;
    color:white;
    cursor:pointer;
}

table button:hover{
    color: #1aeb9f;
    background-color: white;
}

.placeOrderBtn button{
    padding: 5px 10px;
    border:none;
    border-radius: 4px;
    background-color: #006f9a;
    color:white;
    cursor:pointer;
}

.placeOrderBtn button:hover{
    color: #1aeb9f;
    background-color: white;
}

.checkoutContainer{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.cardInfo{
    display:flex;
    flex-direction:column;
}

.cardSecur{
    display:flex;
    flex-direction:row;
}

/*About us css*/

.info-holder{
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align:left;

}

.info-section p {
    margin: 8px 0;
    font-size: 16px;
}

.info-holder h2{
    border-bottom:2px solid #006f9a;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto 15px auto;
    text-align: center;
}

.info-section a{
    color:#006f9a;
    text-decoration: none;
    font-weight: bold;
}

.info-section a:hover{
    color:#1aeb9f;
    text-decoration: underline;
    
}

/*Receipt CSS*/

.receiptMenu{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    color: #333

}

.receiptMenu h2 {
    text-align:center;
    margin-bottom: 20px;
}

.receiptMenu p {
    margin: 8px 0;
    font-size: 16;
}

.receiptMenu hr{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.receiptMenu strong {
    color: #000;
}

.receiptMenu span {
    font-weight: normal;
}


